# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- R
- SQL
- Java

Some of the popular languages that Data Scientists use are: 
1. R
2. SQL
3. Java 
4. Julia
5. JavaScript
6. Scala

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciKit-Learn
4. Keras 
5. Pytorch
6. Pandas

|Data Science Tools|
|---|
|KNIME|
|Spark|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author

Nikola Vojinovic